[submodule "libs/libfdt"]
	path = libs/libfdt
	url = https://github.com/devicetree-org/pylibfdt.git
[submodule "libs/libufdt"]
	path = libs/libufdt
	url = https://android.googlesource.com/platform/system/libufdt
